<% content_for(:title, "All Groups") %>

<%= display_expenses('expenses/list',@expenses)  %>

<div class="row add-btn-background">
    <%= link_to 'ADD NEW EXPENSE', new_expense_path, :class=>"col-sm-12 text-center add-btn" %>
</div>